{% extends 'accounts/user_base.html' %}
{% block content %}
<br><br>
<div class="col-md-6 offset-md-3">
	<form method="POST" style="border-radius:5px solid black;padding-left:70px;padding: right 70px;;">
		{% csrf_token %}
	  <div class="form-group">
	  		    
	    <input type="text" class="form-control" name="username" id=" username" value="{{request.user.username}} "readonly >
	    
      </div>
	  <div class="form-group">
	    
	    <input type="text" class="form-control" name="first_name" id="first_name"  value="{{request.user.first_name}}" readonly >
	  </div>
      <div class="form-group">
	    
	    <input type="text" class="form-control"  name="last_name" id="last_name" value="{{request.user.last_name}}" readonly >
	  </div>
      <div class="form-group">
	    
	    <input type="email" class="form-control" name="email" id="email" value="{{request.user.email}}" >
	  </div>
      <div class="form-group">
	    
	    <input type="tel" class="form-control" name="phone" id="phone" value="{{donor_profile.phone}}" >
	  </div>
      <div class="form-group">
	    
	    <input type="text" class="form-control" name="city" id="city"  value="{{donor_profile.city}}" >
	  </div>
      
      <div class="form-group">
	    <input type="text" class="form-control" name="blood_group" value="{{donor_profile.blood_group}}" readonly>
	  </div>
      <button type="submit" class="btn btn-primary" btn-align="center">Update Profile</button>
    
{% endblock %}
